.carousel-section .carousel-title {
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.carousel-section .container{
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
}


/* Swiper */

.mySwiper {
    margin-bottom: 40px;
}

/* Swiper buttons */

.swiper-pagination-prev,
.swiper-pagination-next{
    position: absolute;
    background-color: inherit;
    font-size: 20px;
    top: 30%;
}

.swiper-pagination-next{
    right: -5px;
}

.swiper-pagination-prev{
    left: -5px;
}


/* Quick view */
.quick-view-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    top: 10px;
    right: 10px;
    position: absolute;
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 20;
    cursor: pointer;

}

/*  Quick view button */
.quick-view-icon{
    font-size: 18px;
    position: relative;
}

.quick-view-button::before{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    content: '';
    font-size: 15px;
    width: 0;
    height: 30px;
    background-color: var(--primary-color);
    color: #ffffff00;
    border-radius: 5px;
    right: 40px;
    padding: 5spx;
    transition: all ease-in-out 0.2s;
    pointer-events: none;
    white-space: nowrap;
}

.quick-view-button:hover .overlay-product{
    opacity: 0;
}

.quick-view-button:hover.quick-view-button::before{
    content: 'Quick View';
    opacity: 1;
    width: 80px;
    color: #fff;
}





/*  BREAKPOINTS  */

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

    .swiper-pagination-next{
        right: -3px;
    }
    
    .swiper-pagination-prev{
        left: -3px;
    }

}


/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .swiper-pagination-prev,
    .swiper-pagination-next{
    display: none;
}
 }



/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

}



/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    
    .quick-view-button{
        display: none;
    }
}