/*  hero contact styles  */
.hero-contact{
    height: 70vh;
    position: relative;
    /* background-attachment: fixed; */
    margin-bottom: 100px;
}


/*  Hero content grid  */
.contact-section .grid{
    gap: 50px;
}


/* Text styles */
.contact-text-container h2 {
    font-size: 42px;
    margin-bottom: 50px;
}

.contact-text-container p {
    color: var(--text-light-color);
    margin-bottom: 40px;
}

/*  Form styles  */
.contact-us-form input,
.contact-us-form textarea{
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    font-family: var(--font);
    border: none;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
    padding: 0 18px 16px 0;
    margin-bottom: 25px;
}

.contact-us-form textarea{
    min-height: 150px;
    resize: none; 
}

.contact-us-form .btn {
    font-size: 16px;
}

.contact-us-form .btn.btn-secondary.submiting {
    background-color: var(--text-light-color);
}


/* Submission message styles */

.submission-message{
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 20px;
    align-self: flex-start;
}


/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* Text styles */
    .contact-text-container h2 {
        font-size: 35px;
    }
 }


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /*  Hero content grid  */
    .contact-section .grid{
        grid-template-columns: 1fr;
    }

    /* Text styles */
    .contact-text-container h2 {
        font-size: 42px;
    }

    .contact-us-form .btn {
        width: 100%;
    }
}



/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /*  hero contact styles  */
    .hero-contact{
        background-position: 35% center!important;
    }
     
    /* Text styles */
     .contact-text-container h2 {
        font-size: 35px;
    }
}